.container {
  height: calc(100vh - 64px);
}

.topbar .brand {
  font-weight: 800;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 320px;
  padding: 12px;
}

.content {
  padding: 16px;
}

.error {
  color: #b00020;
}
