server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: catalog-service
          uri: http://localhost:8081
          predicates:
            - Path=/catalog/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,gateway
