spring:
  cloud:
    gateway:
      routes:
        - id: catalog-service
          uri: http://catalog-service:8081
          predicates:
            - Path=/catalog/**
          filters:
            - StripPrefix=1
